<launch>


    <include file="$(find zed_wrapper)/launch/zed2.launch" />
    <!--include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" /-->

    <node pkg="usv_perception" type="yolo_zed.py" name="yolo_zed" />
    <node pkg="usv_perception" type="zed_detector.py" name="zed_detector" />
    <node pkg="usv_perception" type="color_srv.py" name="color_srv" />


</launch>
